{% set posts = [
    {
        img: "img/main_2.jpg",
        title: "Интервью Владимира Набокова",
        post: "— Вы прожили в Германии 15 лет, с 1922 по 1937 год. Судя по тому, как вы описывали Германи­­ю и немцев в книгах той поры, они со временем производили на вас все более и более мрачное впечатле­ние."
    },
    {
        img: "img/main_3.jpg",
        title: "Хорошо ли вы помните «Мастера и Маргариту»?",
        post: "В мае 1909 года сербский переводчик и литературовед Йован Максимович (1864–1955) оказался в Ясной Поляне. Максимович был известен своими переводами русской литературы, писал о Чехове и Толстом, переводил их на сербский, сам писал стихи."
    },
    {
        img: "img/main_4.jpg",
        title: "Последние письма Ницше",
        post: "— Вы прожили в Германии 15 лет, с 1922 по 1937 год. Судя по тому, как вы описывали Германи­­ю и немцев в книгах той поры, они со временем производили на вас все более и более мрачное впечатле­ние. "
    },
    {
        title: "Дневник Льюиса Кэрролла",
        quote: "Просто мы с тобой живём в разные стороны. Ты-туда, а я-обратно",
        author: "— льюис кэрролл"
    },
    {
        img: "img/main_2.jpg",
        title: "Комиксы: Женские циклы",
        post: "— Вы прожили в Германии 15 лет, с 1922 по 1937 год. Судя по тому, как вы описывали Германи­­ю и немцев в книгах той поры, они со временем производили на вас все более и более мрачное впечатле­ние."
    },
    {
        img: "img/main_5.jpg",
        title: "Хорошо ли вы помните «Мастера и Маргариту»?",
        post: "В мае 1909 года сербский переводчик и литературовед Йован Максимович (1864–1955) оказался в Ясной Поляне. Максимович был известен своими переводами русской литературы, писал о Чехове и Толстом, переводил их на сербский, сам писал стихи."
    },
    {
        img: "img/main_6.jpg",
        title: "Последние письма Ницше",
        post: "— Вы прожили в Германии 15 лет, с 1922 по 1937 год. Судя по тому, как вы описывали Германи­­ю и немцев в книгах той поры, они со временем производили на вас все более и более мрачное впечатле­ние. "
    },
    {
        title: "Дневник Льюиса Кэрролла",
        quote: "Просто мы с тобой живём в разные стороны. Ты-туда, а я-обратно",
        author: "— льюис кэрролл"
    },
    {
        img: "img/main_2.jpg",
        title: "Интервью Владимира Набокова",
        post: "— Вы прожили в Германии 15 лет, с 1922 по 1937 год. Судя по тому, как вы описывали Германи­­ю и немцев в книгах той поры, они со временем производили на вас все более и более мрачное впечатле­ние."
    },
    {
        img: "img/main_3.jpg",
        title: "Хорошо ли вы помните «Мастера и Маргариту»?",
        post: "В мае 1909 года сербский переводчик и литературовед Йован Максимович (1864–1955) оказался в Ясной Поляне. Максимович был известен своими переводами русской литературы, писал о Чехове и Толстом, переводил их на сербский, сам писал стихи."
    },
    {
        img: "img/main_7.jpg",
        title: "Последние письма Ницше",
        post: "— Вы прожили в Германии 15 лет, с 1922 по 1937 год. Судя по тому, как вы описывали Германи­­ю и немцев в книгах той поры, они со временем производили на вас все более и более мрачное впечатле­ние. "
    },
    {
        title: "Дневник Льюиса Кэрролла",
        quote: "Просто мы с тобой живём в разные стороны. Ты-туда, а я-обратно",
        author: "— льюис кэрролл"
    }
] 
%}

{% for post in posts %}
    {% if post.post or post.quote %}
        {% if post.post %}
        <div class="posts">
            <article class="post">
                <div class="post__img">
                    <img src="{{post.img}}" alt="post image" class="image">
                </div>
                <div class="post__text">
                    <a href="#" class="post__title">
                        {{post.title}}
                    </a>
                    {% include "partials/_extra.html" %}
                    <p class="post__preview">
                        {{post.post}}
                    </p>
                </div>
            </article>
        </div>
        {% endif %}

        {% if post.quote %}
        <div class="quote">
            <h3 class="quote__title">
                {{post.title}}
            </h3>
            <div class="quote__wrapper">
                <div class="quote__icon">
                    <img src="img/quote.svg" alt="quote image">
                </div>
                <div class="quote__content">
                    <p class="quote__text">
                        {{post.quote}}
                    </p>
                    <span class="quote__author">
                        {{post.author}}
                    </span>
                </div>
            </div>
            {% include "partials/_extra.html" %}
        </div>
        {% endif %}
    {% endif %}
{% endfor %} 