{% set 
feed = [
	{
		title: 'Интервью Владимира Набокова',
        author: 'Оксана Булгакова',
        date: '5 ИЮЛЯ, 2018',
        comments_icon: '',
        comments_count: '12',
        like_icon: '',
        like_count: '7',
        text: '— Вы прожили в Германии 15 лет, с 1922 по 1937 год. Судя по тому, как вы описывали Германи­­ю и немцев в книгах той поры, они со временем производили на вас все более и более мрачное впечатле­ние.'
	},
	{
		title: 'Хорошо ли вы помните «Мастера и Маргариту»?',
        author: 'Оксана Булгакова',
        date: '5 ИЮЛЯ, 2018',
        comments_icon: '',
        comments_count: '12',
        like_icon: '',
        like_count: '7',
        text: 'В мае 1909 года сербский переводчик и литературовед Йован Максимович (1864–1955) оказался в Ясной Поляне. Максимович был известен своими переводами русской литературы, писал о Чехове и Толстом, переводил их на сербский, сам писал стихи.'
	},
	{
		title: 'Последние письма Ницше',
        author: 'Оксана Булгакова',
        date: '5 ИЮЛЯ, 2018',
        comments_icon: '',
        comments_count: '12',
        like_icon: '',
        like_count: '7',
        text: '— Вы прожили в Германии 15 лет, с 1922 по 1937 год. Судя по тому, как вы описывали Германи­­ю и немцев в книгах той поры, они со временем производили на вас все более и более мрачное впечатле­ние. '
	},
	{
		title: 'Комиксы: Женские циклы',
        author: 'Оксана Булгакова',
        date: '5 ИЮЛЯ, 2018',
        comments_icon: '',
        comments_count: '12',
        like_icon: '',
        like_count: '7',
        text: '— Вы прожили в Германии 15 лет, с 1922 по 1937 год. Судя по тому, как вы описывали Германи­­ю и немцев в книгах той поры, они со временем производили на вас все более и более мрачное впечатле­ние.'
	},
	{
		title: 'Хорошо ли вы помните «Мастера и Маргариту»?',
        author: 'Оксана Булгакова',
        date: '5 ИЮЛЯ, 2018',
        comments_icon: '',
        comments_count: '12',
        like_icon: '',
        like_count: '7',
        text: 'В мае 1909 года сербский переводчик и литературовед Йован Максимович (1864–1955) оказался в Ясной Поляне. Максимович был известен своими переводами русской литературы, писал о Чехове и Толстом, переводил их на сербский, сам писал стихи.'
	},
	{
		title: 'Последние письма Ницше',
        author: 'Оксана Булгакова',
        date: '5 ИЮЛЯ, 2018',
        comments_icon: '',
        comments_count: '12',
        like_icon: '',
        like_count: '7',
        text: '— Вы прожили в Германии 15 лет, с 1922 по 1937 год. Судя по тому, как вы описывали Германи­­ю и немцев в книгах той поры, они со временем производили на вас все более и более мрачное впечатле­ние.'
	},
	{
		title: 'Интервью Владимира Набокова',
        author: 'Оксана Булгакова',
        date: '5 ИЮЛЯ, 2018',
        comments_icon: '',
        comments_count: '12',
        like_icon: '',
        like_count: '7',
        text: '— Вы прожили в Германии 15 лет, с 1922 по 1937 год. Судя по тому, как вы описывали Германи­­ю и немцев в книгах той поры, они со временем производили на вас все более и более мрачное впечатле­ние.'
	},
	{
		title: 'Хорошо ли вы помните «Мастера и Маргариту»?',
        author: 'Оксана Булгакова',
        date: '5 ИЮЛЯ, 2018',
        comments_icon: '',
        comments_count: '12',
        like_icon: '',
        like_count: '7',
        text: 'В мае 1909 года сербский переводчик и литературовед Йован Максимович (1864–1955) оказался в Ясной Поляне. Максимович был известен своими переводами русской литературы, писал о Чехове и Толстом, переводил их на сербский, сам писал стихи.'
	},
	{
		title: 'Последние письма Ницше',
        author: 'Оксана Булгакова',
        date: '5 ИЮЛЯ, 2018',
        comments_icon: '',
        comments_count: '12',
        like_icon: '',
        like_count: '7',
        text: 'В мае 1909 года сербский переводчик и литературовед Йован Максимович (1864–1955) оказался в Ясной Поляне. Максимович был известен своими переводами русской литературы, писал о Чехове и Толстом, переводил их на сербский, сам писал стихи.'
	}
	
] 
%}
