{% set 
feed = [
	{
		title: 'Иллюстрации: Будни влюбленных',
        date: '5 ИЮЛЯ, 2018',
        comments_icon: '',
        comments_count: '12',
        like_icon: '',
        like_count: '7'
	},
	{
		title: 'Истории, финал которых непредсказуем',
        date: '5 ИЮЛЯ, 2018',
        comments_icon: '',
        comments_count: '12',
        like_icon: '',
        like_count: '7'
	},
	{
		title: 'Иллюстрации: Будни влюбленных',
        date: '5 ИЮЛЯ, 2018',
        comments_icon: '',
        comments_count: '12',
        like_icon: '',
        like_count: '7'
	},
	{
		title: 'Истории, финал которых непредсказуем',
        date: '5 ИЮЛЯ, 2018',
        comments_icon: '',
        comments_count: '12',
        like_icon: '',
        like_count: '7'
	},
	{
		title: 'Видео: Будни влюбленных',
        date: '5 ИЮЛЯ, 2018',
        comments_icon: '',
        comments_count: '12',
        like_icon: '',
        like_count: '7'
	}	
] 
%}
