.icon-soc-1 {
  width: 0.46em;
  height: 1em;
  fill: initial;
}
.icon-soc-2 {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
.icon-soc-3 {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-soc-4 {
  width: 1.42em;
  height: 1em;
  fill: initial;
}
.icon-soc-5 {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
